@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700');
/*--------Global Variable-------*/
/*--------Global Style-------*/
*{
  box-sizing: border-box;
}

body {
  display: none;
  font-family: 'Fredoka One',cursive; 
  -webkit-font-smoothing: antialiased;
}

.wrap {
  width: 100%;
}
.wrap-fluid {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.button{
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .6rem 3.5rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.button-highlight{
  background: #527ac5;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-1{
  width: 8.33%;
}
.col-2{
  width: 8.33%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*-------Banner Style-------*/
#banner:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url(../img/Coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(20%);
}
#banner{
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
}
#banner header {
   padding: 2rem 0; 
}
#banner #logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  float: left;
  margin: -15px 0 -5px 50px; 
  font-family: 'Lobster',cursive;
}
#inverse-logo{
  color: #1f1f1f;
  font-weight: 700;
  font-size: 2rem;
  float: left;
  
  margin: -15px 0 -5px 50px; 
  font-family: 'Lobster',cursive;
}
.navbar{
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 9999;
  top: 0;
  background: transparent;
  box-shadow: 0px 0px 0px -5px #b3b3b3;
  -webkit-transition: background-color .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}
.visible{
  box-shadow: 0px 0px 25px -5px #333;
  background: #ffffff;
  margin: 0 auto;
  position: fixed;
}
.navbar nav {
  float: right; 
  padding-right: 50px;
}
.navbar nav a {
  color: #ffffff;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 2rem; 
  font-family: 'Lato', sans-serif;
  filter: drop-shadow(50px);
}
.inverse-navbar {
  color: #1f1f1f;
  font-weight: 550;
  text-decoration: none;
  margin-left: 2rem; 
  font-family: 'Lato', sans-serif;
  filter: drop-shadow(50px);
}
#banner .content {
  padding: 15rem 0 6rem 0; 
}
#banner .content p{
  text-align: center;
  color: #ffffff;
  font-family: 'Lato',sans-serif;
  margin: 5px auto;
  width: 30em;
  font-size: 1rem;
  word-wrap: break-word;
}
#banner .content .title, #banner .content .sub_title {
  color: #ffffff;
  text-align: center; 
}
#banner .content .title {
  font-size: 3.5rem;
  margin: 0; 
}
#banner .content .sub_title{
  font-weight: 300;
  font-size: 1.35rem;
  width: 500px;
  margin: 0 auto 2rem auto;
  line-height: 1.75;
}
.button_wrap{
  text-align: center;
  margin: 3rem 0;
}
.button_wrap a{
  font-family: 'Lato', sans-serif; 
}

/*--------Services---------*/
#services{
  position: relative;

  width: 100%;
  height: 80%;
  background: #ffffff;
  padding-top: 1.25em;
  z-index: 1;
  overflow: hidden;
}
#services #whi{
  text-align: center;
  font-size: 2.5rem;
}
#services .service{
  width: 31%;
  float: left;
  text-align: center;
  position: relative;
  margin: -3rem 1% 0 1%;
  padding: 3rem 2.5%;
}
#services .service h3{
  font-size: 1.35rem;
  font-weight: 200;
}
#services .service p{
  font-family: 'Lato',sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}
.services-icon{
  display: inline-block;
  width: 130px;
  height: 130px;
  background: transparent url(../img/idea.png) no-repeat;
  background-position: left top;
}
.services-icon.idevelop{
  background-position: -140px top;
}
.services-icon.idesign{
  background-position: -270px top;
}

/*-----About Me-------*/
#about{
  position: relative;
  width: 100%;
  height: 80%;
  background: #eee;
  padding-top: 1.25em;
  z-index: 1;
}
#about #abt{
  text-align: center;
  font-size: 2.5rem;
}
#about p{
  margin: 70px 5% 0 5% ;
  padding-left: 45px;
  text-align: justify;
  font-size: 1.2rem;
  font-family: 'Lato',sans-serif;
}
#about img{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-left: 10%;
  margin-bottom: 15%;
  width: 100%;
  height: auto;
}


/*-------Portofolio---------*/
#portofolio{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: 1.25em;
  z-index: 1;
}
#portofolio #prt{
  text-align: center;
  font-size: 2.5rem;
}
.imageport{
  background: #eee;
  padding-top: 2%;
  margin: 2.47% 10%;
  box-shadow: 0px 0px 10px -3px #333;
  margin-bottom: 15%;
}
#portofolio .imageport img{
  position: relative; 
  display: block;
  margin: auto;
}
.judulport h3{
  display: block;
  padding: 1%;
  margin: 0 auto;
  text-align: center;
}
.judulport h5{
  display: block;
  padding: 1%;
  margin:0 auto;
  text-align: center;
}

/*---------Contact---------*/
#contact{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: .5em;
  background: #eee;
}


/*--------Media Query Phone---------*/
@media (min-width: 341px) and (max-width: 414px){
#banner:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url(../img/Coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(20%);
  
}
#banner{
  left: 0;
  right: 0;
  margin: 0;
  height: 100%;
}
  .navbar nav {
      float: left;
      padding-right: 50px;
      display: none;
      position: fixed;
  }
    #banner #logo {
      color: #ffffff;
      font-weight: 700;
      font-size: 2rem;      
      text-align: center;
      margin: -15px 15% -5px 25%;
      font-family: 'Lobster',cursive;
  }
    #inverse-logo{
      color: #1f1f1f;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      display: block;
      margin: -15px 15% -5px 25%; 
      font-family: 'Lobster',cursive;
  }
  #banner .content {
    padding: 7rem 1rem; 
  }
  #banner .content p{
    text-align: center;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    margin: 5px auto;
    width: auto;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #banner .content .title, #banner .content .sub_title {
    color: #ffffff;
    text-align: center; 
  }
  #banner .content .title {
    font-size: 3rem;
    margin: 0; 
  }
  #banner .content .sub_title{
    font-weight: 300;
    font-size: 1.05rem;
    width: auto;
    margin: 0 auto 2rem auto;
    line-height: 1.75;
  }
/*------Services------*/
  #services{
    position: relative;
    
    width: 100%;
    height: auto;
    margin-top: 0;
    background: #ffffff;
    padding-top: 1.215em;
    z-index: 1;
  }
  #services #whi{
    text-align: center;
    font-size: 1.5rem;
  }
  #services .service{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin: -3rem 0 0 1%;
    padding: 3rem 2.5%;
  }
  #services .service h3{
    font-size: 1.05rem;
    font-weight: 200;
  }
  #services .service p{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: .9rem;
  }
  .services-icon{
    display: inline-block;
    width: 130px;
    height: 130px;
    background: transparent url(../img/idea.png) no-repeat;
    background-position: left top;
  }
  .services-icon.idevelop{
    background-position: -140px top;
  }
  .services-icon.idesign{
    background-position: -270px top;
  }  

  /*----About-------*/
  #about{
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    padding-top: 1.25em;
    margin-top: 0; 
    z-index: 1;
  }
  #about #abt{
    text-align: center;
    font-size: 1.5rem;
  }
  #about p{
    margin: 10px 10px auto ;
    padding-left: 0 !important;
    text-align: justify;
    font-size: .9rem;
    font-family: 'Lato',sans-serif;
  }
  #about img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  #desc-about{
    width: 100%;
  }
  .col-4{
    margin:10px auto;
  }

  /*-------Portofolio---------*/
  #portofolio{
    position: absolute;
    top: 240%;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: 100%;
    padding-top: 1.25em;
    z-index: 1;
    display: none;
  }
  #portofolio #prt{
    text-align: center;
    font-size: 2.5rem;
  }
  .imageport{
    background: #eee;
    padding-top: 2%;
    margin: 2.47% 10%;
    box-shadow: 0px 0px 10px -3px #333;
  }
  #portofolio .imageport img{
    position: relative; 
    display: block;
    margin: auto;
  }
  .judulport h3{
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
  }
  .judulport h5{
    display: block;
    padding: 1%;
    margin:0 auto;
    text-align: center;
  }

  /*---------Contact---------*/
  #contact{
    position: absolute;
    top: 330%;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: .5em;
    background: #eee;
    display: none;
  }
}

/*----Media Query 340px--------*/
@media only screen and (max-width: 340px){
  #banner{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
  }  
    .navbar nav {
      float: right; 
      padding-right: 50px;
      display: none;
      position: fixed;
  }
    #banner #logo {
      color: #ffffff;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      margin: -15px 15% -5px 15%;
      font-family: 'Lobster',cursive;
  }
    #inverse-logo{
      color: #1f1f1f;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      display: block;
      margin: -15px 15% -5px 15%; 
      font-family: 'Lobster',cursive;
  }
  #banner .content {
    padding: 8rem 1rem 8rem 1rem; 
  }
  #banner .content p{
    text-align: center;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    margin: 5px auto;
    width: auto;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #banner .content .title, #banner .content .sub_title {
    color: #ffffff;
    text-align: center; 
  }
  #banner .content .title {
    font-size: 3rem;
    margin: 0; 
  }
  #banner .content .sub_title{
    font-weight: 300;
    font-size: 1.05rem;
    width: auto;
    margin: 0 auto 2rem auto;
    line-height: 1.75;
  }
/*------Services------*/
  #services{
    position: absolute;
    top: 100%;
    width: 100%;
    height: auto;
    margin-top: 20%;
    background: #ffffff;
    padding-top: 1.215em;
    z-index: 1;
    overflow: hidden;
  }
  #services #whi{
    text-align: center;
    font-size: 1.5rem;
  }
  #services .service{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin: -3rem 0 0 1%;
    padding: 3rem 2.5%;
  }
  #services .service h3{
    font-size: 1.05rem;
    font-weight: 200;
  }
  #services .service p{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: .9rem;
  }
  .services-icon{
    display: inline-block;
    width: 130px;
    height: 130px;
    background: transparent url(../img/idea.png) no-repeat;
    background-position: left top;
  }
  .services-icon.idevelop{
    background-position: -140px top;
  }
  .services-icon.idesign{
    background-position: -270px top;
  }  

  /*----About-------*/
  #about{
    position: absolute;
    top: 143%;
    width: 100%;
    height: 100%;
    background: #eee;
    padding-top: 1.25em;
    margin-top: 57rem; 
    z-index: 1;
  }
  #about #abt{
    text-align: center;
    font-size: 1.5rem;
  }
  #about p{
    margin: 10px 10px auto ;
    padding-left: 0 !important;
    text-align: justify;
    font-size: .9rem;
    font-family: 'Lato',sans-serif;
  }
  #about img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  #desc-about{
    width: 100%;
  }
  .col-4{
    margin:10px auto;
  }

  /*-------Portofolio---------*/
  #portofolio{
    position: absolute;
    top: 240%;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: 100%;
    padding-top: 1.25em;
    z-index: 1;
    display: none;
  }
  #portofolio #prt{
    text-align: center;
    font-size: 2.5rem;
  }
  .imageport{
    background: #eee;
    padding-top: 2%;
    margin: 2.47% 10%;
    box-shadow: 0px 0px 10px -3px #333;
  }
  #portofolio .imageport img{
    position: relative; 
    display: block;
    margin: auto;
  }
  .judulport h3{
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
  }
  .judulport h5{
    display: block;
    padding: 1%;
    margin:0 auto;
    text-align: center;
  }

  /*---------Contact---------*/
  #contact{
    position: absolute;
    top: 330%;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: .5em;
    background: #eee;
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
