@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700');
/*--------Global Variable-------*/
/*--------Global Style-------*/
*{
  box-sizing: border-box;
}

body {
  display: none;
  font-family: 'Fredoka One',cursive; 
  -webkit-font-smoothing: antialiased;
}

.wrap {
  width: 100%;
  height: 100%;
}
.wrap-fluid {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.button{
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .6rem 3.5rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.button-highlight{
  background: #527ac5;
}

.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-1{
  width: 8.33%;
}
.col-2{
  width: 8.33%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*-------Banner Style-------*/
#banner:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url(../img/Coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(20%);
}
#banner{
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100vh;
}
#banner header {
   padding: 2rem 0;
}
#banner #logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  float: left;
  margin: -15px 0 -5px 50px; 
  font-family: 'Lobster',cursive;
}
#inverse-logo{
  color: #1f1f1f;
  font-weight: 700;
  font-size: 2rem;
  float: left;
  margin: -15px 0 -5px 50px; 
  font-family: 'Lobster',cursive;
}
.navbar{
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 9999;
  top: 0;
  display: inline-block;
  background: transparent;
  box-shadow: 0px 0px 0px -5px #b3b3b3;
  -webkit-transition: background-color .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}
.visible{
  box-shadow: 0px 0px 25px -5px #333;
  background: #ffffff;
  margin: 0 auto;
  position: fixed;
}
.navbar nav {
  float: right; 
  padding-right: 50px;
}
.navbar nav a {
  color: #ffffff;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 2rem; 
  font-family: 'Lato', sans-serif;
  filter: drop-shadow(50px);
  transition: all .2s ease;
}
.navbar nav a:hover{
  color: #4e7398;
}
a.active{
  border-bottom: 3px solid #4e7398;
}
.inverse-navbar {
  color: #1f1f1f;
  font-weight: 550;
  text-decoration: none;
  margin-left: 2rem; 
  font-family: 'Lato', sans-serif;
  filter: drop-shadow(50px);
}
#banner .content {
  padding: 15rem 0 6rem 0; 
}
#banner .content p{
  text-align: center;
  color: #ffffff;
  font-family: 'Lato',sans-serif;
  margin: 5px auto;
  width: 30em;
  font-size: 1rem;
  word-wrap: break-word;
}
#banner .content .title, #banner .content .sub_title {
  color: #ffffff;
  text-align: center; 
}
#banner .content .title {
  font-size: 3.5rem;
  margin: 0; 
}
#banner .content .sub_title{
  font-weight: 300;
  font-size: 1.35rem;
  width: 500px;
  margin: 0 auto 2rem auto;
  line-height: 1.75;
}
.button_wrap{
  text-align: center;
  margin: 3rem 0;
}
.button_wrap a{
  font-family: 'Lato', sans-serif; 
}

/*--------Services---------*/
#services{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 1.25em;
  background: #ffffff;
  z-index: 1;
  overflow: hidden;
}
#services #whi{
  text-align: center;
  font-size: 2.5rem;
}
#services .service{
  width: 31%;
  float: left;
  text-align: center;
  position: relative;
  margin: -3rem 1% 0 1%;
  padding: 3rem 2.5%;
}
#services .service h3{
  font-size: 1.35rem;
  font-weight: 200;
}
#services .service p{
  font-family: 'Lato',sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}
.services-icon{
  display: inline-block;
  width: 130px;
  height: 130px;
  background: transparent url(../img/idea.png) no-repeat;
  background-position: left top;
}
.services-icon.idevelop{
  background-position: -140px top;
}
.services-icon.idesign{
  background-position: -270px top;
}

/*-----About Me-------*/
#about{
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  padding-top: 1.25em;
  z-index: 1;
}
#about #abt{
  text-align: center;
  font-size: 2.5rem;
}
#about p{
  margin: 70px 5% 0 5% ;
  padding-left: 45px;
  text-align: justify;
  font-size: 1.2rem;
  font-family: 'Lato',sans-serif;
}
#about img{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-left: 10%;
  margin-bottom: 15%;
  width: 100%;
  height: auto;
}


/*-------Portofolio---------*/
#portofolio{
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: 1.25em;
  z-index: 1;
}
#portofolio #prt{
  text-align: center;
  font-size: 2.5rem;
}
.imageport:last-child{
  margin-bottom: 5%; ;
}
.imageport{
  background: #fdfdfd;
  padding-top: 2%;
  margin: 1% .5%;
  box-shadow: 0px 0px 7px -1px #dcdcdc;
  width: 24%;
  display: inline-block;
  text-align: center;
  float: left;
  overflow: hidden;
}
#portofolio .imageport img{
  position: relative; 
  display: flex;
  margin: 0;
  height: 100%; 
  width: auto; 
  max-width: 400px; 
  max-height: 300px;
  text-align: center;
}
.judulport h3{
  font-family: 'Lato',sans-serif;
  display: block;
  padding: 1%;
  margin: 0 auto;
  text-align: center;
}
.judulport h5{
  font-family: 'Lato',sans-serif;
  font-weight: bolder;
  display: block;
  padding: 1%;
  margin:0 auto;
  text-align: center;
}

/*---------Contact---------*/
#contact{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: .5em;
  background: #eee;
}


/*--------Media Query Tablet---------*/
@media (max-width: 860px){
  #banner:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(../img/Coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(20%);
  }
  #banner{
    left: 0;
    right: 0;
    margin: 0;
    height: 100vh;
  }
  #banner header{
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #banner .content {
    padding: 15rem 0 6rem 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar nav {
      float: left;
      padding: 0
  }
  .navbar nav a:first-child{
    margin-left: 0 !important;
  }
  .navbar nav a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 2rem; 
    font-family: 'Lato', sans-serif;
    filter: drop-shadow(50px);
    font-size: .8em;
  }
    #banner #logo {
      color: #ffffff;
      font-weight: 700;
      font-size: 1.8rem;      
      font-family: 'Lobster',cursive;
      margin-left: 0 !important;
      margin-bottom: .5%;
  }
    #inverse-logo{
      color: #1f1f1f;
      font-weight: 700;
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0!important; 
      font-family: 'Lobster',cursive;
      margin-bottom: .5%;
  }
  #banner .content {
    padding-top: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #banner .content p{
    text-align: center;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    margin: 5px auto;
    width: auto;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #banner .content .title, #banner .content .sub_title {
    color: #ffffff;
    text-align: center; 
  }
  #banner .content .title {
    font-size: 3rem;
    margin: 0; 
  }
  #banner .content .sub_title{
    font-weight: 300;
    font-size: 1.05rem;
    width: auto;
    margin: 0 auto 2rem auto;
    line-height: 1.75;
  }
/*------Services------*/
  #services{
    position: relative;    
    width: 100%;
    height: auto;
    margin-top: 0;
    background: #ffffff;
    padding: 1.25em 0;
    z-index: 1;
  }
  #services #whi{
    text-align: center;
    font-size: 1.5rem;
    position: inherit;
    margin: 0;
  }
  #services .service{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin: 1.5rem 1%;
    padding:0 2.5%;
  }
  #services .service h3{
    font-size: 1.05rem;
    font-weight: 200;
  }
  #services .service p{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: .9rem;
  }
  .services-icon{
    display: inline-block;
    width: 130px;
    height: 130px;
    background: transparent url(../img/idea.png) no-repeat;
    background-position: left top;
  }
  .services-icon.idevelop{
    background-position: -140px top;
  }
  .services-icon.idesign{
    background-position: -270px top;
  }  

  /*----About-------*/
  #about{
    position: relative;
    width: 100%;
    height: auto;
    background: #eee;
    padding: 1.25em;
    margin-top: 0; 
    z-index: 1;
  }
  #about #abt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  #about p{
    margin: 10px 10px;
    padding-left: 0 !important;
    text-align: justify;
    font-size: .9rem;
    font-family: 'Lato',sans-serif;
  }
  #about img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  #desc-about{
    width: 100%;
  }
  .col-4{
    margin:10px auto;
  }

  /*-------Portofolio---------*/
  #portofolio{
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 0;
    padding: 1.25em;
    z-index: 1;   
  }
  #portofolio #prt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  .imageport{
    background: #fdfdfd;
    padding-top: 2%;
    margin: 1% .5%;
    box-shadow: 0px 0px 7px -1px #dcdcdc;
    width: 43%;
    height: auto;
    display: inline-block;
    align-items: center;
    float: left;
    overflow: hidden;
  }
  #portofolio .imageport img{
    position: relative; 
    display: flex;
    margin: 0;
    width: 100%;
    height: auto; 
    max-width: 400px; 
    max-height: 300px;
  }
  .judulport h3{
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }
  .judulport h5{
    display: block;
    padding: 1%;
    margin:0 auto;
    text-align: center;
    font-size: .7rem;
  }
  /*---------Contact---------*/
  #contact{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1.25em;
    background: #eee;    
  }
  #cnt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
}



/*--------Media Query Bigger Phone---------*/
@media (min-width: 428px) and (max-width: 767px){
  #banner:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(../img/Coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(20%);
    
  }
  #banner{
    left: 0;
    right: 0;
    margin: 0;
    height: 100vh;
  }
  #banner header{
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #banner .content {
    padding: 15rem 0 6rem 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar nav {
    float: left;
    padding-right: 50px;
    display: none;
    position: fixed;
  }
  #banner #logo {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;      
    font-family: 'Lobster',cursive;
    margin-left: 0 !important;
    margin-bottom: .5%;
    display: none;
  }
  #inverse-logo{
    color: #1f1f1f;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
    margin-bottom: .5%; 
    font-family: 'Lobster',cursive;
  }
  #banner .content {
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0 !important;
  }
  #banner .content p{
    text-align: center;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    margin: 5px auto;
    width: auto;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #banner .content .title, #banner .content .sub_title {
    color: #ffffff;
    text-align: center; 
  }
  #banner .content .title {
    font-size: 3rem;
    margin: 0; 
  }
  #banner .content .sub_title{
    font-weight: 300;
    font-size: 1.05rem;
    width: auto;
    margin: 0 auto 2rem auto;
    line-height: 1.75;
  }
/*------Services------*/
  #services{
    position: relative;    
    width: 100%;
    height: auto;
    margin-top: 0;
    background: #ffffff;
    padding: 1.25em 0;
    z-index: 1;
  }
  #services #whi{
    text-align: center;
    font-size: 1.5rem;
    position: inherit;
    margin: 0;
  }
  #services .service{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin: 1.5rem 1%;
    padding:0 2.5%;
  }
  #services .service h3{
    font-size: 1.05rem;
    font-weight: 200;
  }
  #services .service p{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: .9rem;
  }
  .services-icon{
    display: inline-block;
    width: 130px;
    height: 130px;
    background: transparent url(../img/idea.png) no-repeat;
    background-position: left top;
  }
  .services-icon.idevelop{
    background-position: -140px top;
  }
  .services-icon.idesign{
    background-position: -270px top;
  }  

  /*----About-------*/
  #about{
    position: relative;
    width: 100%;
    height: auto;
    background: #eee;
    padding: 1.25em;
    margin-top: 0; 
    z-index: 1;
  }
  #about #abt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  #about p{
    margin: 10px 10px;
    padding-left: 0 !important;
    text-align: justify;
    font-size: .9rem;
    font-family: 'Lato',sans-serif;
  }
  #about img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  #desc-about{
    width: 100%;
  }
  .col-4{
    margin:10px auto;
  }

  /*-------Portofolio---------*/
  #portofolio{
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 0;
    padding: 1.25em;
    z-index: 1;   
  }
  #portofolio #prt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  .imageport{
    background: transparent;
    padding-top: 2%;
    margin: 1% .5%;
    box-shadow: none;
    width: 100%;
    height: auto;
    float: left;
    display: inline-block; 
    overflow: hidden;
  }
  #portofolio .imageport img{
    position: relative; 
    display: flex;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 300px;
  }
  .judulport h3{
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }
  .judulport h5{
    display: block;
    padding: 1%;
    margin:0 auto;
    text-align: center;
    font-size: .7rem;
  }

  /*---------Contact---------*/
  #contact{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1.25em;
    background: #eee;
    
  }
  #cnt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
}



/*--------Media Query Phone---------*/
@media (min-width: 376px) and (max-width: 427px){
  #banner:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(../img/Coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(20%);
    
  }
  #banner{
    left: 0;
    right: 0;
    margin: 0;
    height: 100vh;
  }
  #banner header{
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar nav {
    float: left;
    padding-right: 50px;
    display: none;
    position: fixed;
  }
  #banner #logo {
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;      
    text-align: center;
    margin-left:0;
    margin-bottom: .5%;
    font-family: 'Lobster',cursive;
    display: none;
  }
  #inverse-logo{
    color: #1f1f1f;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-left: 0 !important;
    margin-bottom: .5%; 
    font-family: 'Lobster',cursive;
  }
  #banner .content {
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0 !important;
  }
  #banner .content p{
    text-align: center;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    margin: 5px auto;
    width: auto;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #banner .content .title, #banner .content .sub_title {
    color: #ffffff;
    text-align: center; 
  }
  #banner .content .title {
    font-size: 3.5rem;
    margin: 0; 
  }
  #banner .content .sub_title{
    font-weight: 300;
    font-size: 1.3rem;
    width: auto;
    margin: 0 auto 2rem auto;
    line-height: 1.75;
  }
/*------Services------*/
  #services{
    position: relative;    
    width: 100%;
    height: auto;
    margin-top: 0;
    background: #ffffff;
    padding: 1.25em 0;
    z-index: 1;
  }
  #services #whi{
    text-align: center;
    font-size: 1.5rem;
    position: inherit;
    margin: 0;
  }
  #services .service{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin: 1.5rem 1%;
    padding:0 2.5%;
  }
  #services .service h3{
    font-size: 1.05rem;
    font-weight: 200;
  }
  #services .service p{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: .9rem;
  }
  .services-icon{
    display: inline-block;
    width: 130px;
    height: 130px;
    background: transparent url(../img/idea.png) no-repeat;
    background-position: left top;
  }
  .services-icon.idevelop{
    background-position: -140px top;
  }
  .services-icon.idesign{
    background-position: -270px top;
  }  

  /*----About-------*/
  #about{
    position: relative;
    width: 100%;
    height: auto;
    background: #eee;
    padding: 1.25em;
    margin-top: 0; 
    z-index: 1;
  }
  #about #abt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  #about p{
    margin: 10px 10px;
    padding-left: 0 !important;
    text-align: justify;
    font-size: .9rem;
    font-family: 'Lato',sans-serif;
  }
  #about img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  #desc-about{
    width: 100%;
  }
  .col-4{
    margin:10px auto;
  }

  /*-------Portofolio---------*/
  #portofolio{
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 0;
    padding: 1.25em;
    z-index: 1;
    
  }
  #portofolio #prt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  .imageport{
    background: #fdfdfd;
    padding-top: 2%;
    margin: 1% .5%;
    box-shadow: 0px 0px 7px -1px #dcdcdc;
    width: 100%;
    display: inline-block;
    text-align: center;
    float: left;
    overflow: hidden;
  }
  #portofolio .imageport img{
    position: relative; 
    display: flex;
    margin: 0;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 300px;
  }
  .judulport h3{
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }
  .judulport h5{
    display: block;
    padding: 1%;
    margin:0 auto;
    text-align: center;
    font-size: .8rem;
  }

  /*---------Contact---------*/
  #contact{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 1.25em;
    background: #eee;
    
  }
  #cnt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
}

/*----Media Query 375px--------*/
@media (max-width: 375px){
  #banner:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(../img/Coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(20%);
  }
  #banner{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100vh;
  }
  #banner header{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar nav {
    float: right; 
    padding-right: 50px;
    display: none;
    position: fixed;
  }
  #banner #logo {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 !important;
    font-family: 'Lobster',cursive;
    display: none;
  }
  #inverse-logo{
    color: #1f1f1f;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: 0 !important;
    font-family: 'Lobster',cursive;
  }
  #banner .content {
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0 !important;
  }
  #banner .content p{
    text-align: center;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
    margin: 5px auto;
    width: auto;
    font-size: 1rem;
    word-wrap: break-word;
  }
  #banner .content .title, #banner .content .sub_title {
    color: #ffffff;
    text-align: center; 
  }
  #banner .content .title {
    font-size: 3rem;
    margin: 0; 
  }
  #banner .content .sub_title{
    font-weight: 300;
    font-size: 1.05rem;
    width: auto;
    margin: 0 auto 2rem auto;
    line-height: 1.75;
  }
/*------Services------*/
  #services{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    background: #ffffff;
    padding: 1.25em 0;
    z-index: 1;
    overflow: hidden;
  }
  #services #whi{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    position: inherit;
  }
  #services .service{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin: 1.5rem 1%;
    padding:0 2.5%;
  }
  #services .service h3{
    font-size: 1.05rem;
    font-weight: 200;
  }
  #services .service p{
    font-family: 'Lato',sans-serif;
    font-weight: 100;
    font-size: .9rem;
  }
  .services-icon{
    display: inline-block;
    width: 130px;
    height: 130px;
    background: transparent url(../img/idea.png) no-repeat;
    background-position: left top;
  }
  .services-icon.idevelop{
    background-position: -140px top;
  }
  .services-icon.idesign{
    background-position: -270px top;
  }  

  /*----About-------*/
  #about{
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    padding: 1.25em;
    margin-top: 0; 
    z-index: 1;
  }
  #about #abt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  #about p{
    margin: 10px 10px;
    padding-left: 0 !important;
    text-align: justify;
    font-size: .9rem;
    font-family: 'Lato',sans-serif;
  }
  #about img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  #desc-about{
    width: 100%;
  }
  .col-4{
    margin:10px auto;
  }

  /*-------Portofolio---------*/
  #portofolio{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: 0;
    padding: 1.25em;
    z-index: 1;
  }
  #portofolio #prt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  .imageport{
    background: #fdfdfd;
    padding-top: 2%;
    margin: 1% .5%;
    box-shadow: 0px 0px 7px -1px #dcdcdc;
    width: 100%;
    display: inline-block;
    text-align: center;
    float: left;
    overflow: hidden;
  }
  #portofolio .imageport img{
    position: relative; 
    display: flex;
    margin: 0;
    width: 100%;
    height: auto;
    max-width: 400px;
    min-height: 300px;
  }
  .judulport h3{
    display: block;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    font-size: .8rem;
  }
  .judulport h5{
    display: block;
    padding: 1%;
    margin:0 auto;
    text-align: center;
    font-size: .6rem;
  }

  /*---------Contact---------*/
  #contact{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    padding-top: .5em;
    background: #eee;
  }
  #contact #cnt{
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */
